{% extends "base.html" %}

{% block header_content %}
{% load menubuilder %}
{% load i18n %}
{% endblock %}

{% block extended-left-menu %}
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            {% menu project-navigation %}
            {% for item in menuitems %}
                <li {% if item.current %}class='active'{% endif %}><a href="/{{ project.id }}{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div><!--/.well -->
{% endblock %}

{% block main_content %}
<div class="navbar-inverse">
    <a href="{% url new_task_project project.pk %}">{% trans "New task" %}</a>
</div>
{% include "projects/tasks/list.html" %}
{% endblock %}